<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.caec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPsdActivity" />
        <activity android:name=".activity.ForgetPsdActivity2" />
        <activity android:name=".activity.ForgetPsdActivity3" />
        <activity android:name=".activity.ModifyPsdActivity" />
        <activity android:name=".activity.ModifyPsdActivity2" />
        <activity android:name=".activity.AddressListActivity" />
        <activity android:name=".activity.CreateAddressActivity" />
        <activity
            android:name=".activity.OrderListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.CartActivity" />
        <activity
            android:name=".activity.CommentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.OrderDetailPayActivity" />
        <activity android:name=".activity.OrderDetailNormalActivity" />
        <activity android:name=".activity.OrderDetailCancelActivity" />
        <activity android:name=".activity.ConfirmOrderActivity"></activity>
    </application>

</manifest>